*{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div.container{
    margin: 0 auto;
    width: 1440px;
}

nav{
    width: 1440px;
    height: 150px;
    flex-shrink: 0;
}

h2{
    width: 162px;
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-top: 50px;
    list-style: none;
}

.ver-menu button{
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px #F4A261;
    background-color:#E76F51;
    font-size: 20px;
    width: 145px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 126px;
    border-style: none;
    color: white;
    cursor: pointer;
}

.geral{
    display: flex;
}

div.info{
    display: flex;
    margin-left: 110px;
    margin-top: -175px;
    margin-right: 822px;
    justify-content: space-around;
}

.chamada-img{
    margin-left: auto;
    margin-top: 10px;
    position: relative;
}


.seta-direita{
    position: relative;
    margin-left: 430px;
    margin-top: -69px;
    background: white;
}

.seta-esquerda{
    position: relative;
    margin-left: 555px;
    margin-top: -59px;
}

div.info ion-icon{
    display: block;
    margin-bottom: auto;
}

.ver-menu{
    display: flex;
}

.ver-menu p{
    margin-left: 40px;
}

div.icon .leaf , .rocket{
    border-right: 2px solid black;
    padding-right: 70px;
}

.chamada{
    margin-top: 100px;
    margin-left: 120px;
}


.setas 

/*ESPECIALIDADES*/


.especialidades{
    width: 100%;
    flex-shrink: 0;
    display: block;
    background: #EFEFEF;
    position: relative;
}

.especialidades h4{
    margin-left: 662px;
    margin-right: 667px;
    margin-top: -30px;
}

.especialidades h1{
    margin-left: 577px;
    margin-right: 578px;
    margin-top: 40px;
} 

.especialidades-info{
    margin-left: 222px;
    margin-top: 100px;
}

.especialidades-img{
    margin-left: 766px;
    margin-right: 211px;
    margin-top:-500px;
    margin-bottom: 87px;
}

.especialidades-info button{
    width: 170px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #2A9D8F;
    border-style: none;
    cursor: pointer;
}

.especialidades2{
    position: relative;
    margin-top: 227px;
}

.especialidades2 span{
    margin-left: 832px;
}

.especialidades2 h3{
    margin-left: 832px;
    color: #000;
    font-family: "Josefin Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.especialidades2 p{
    margin-left: 832px;
    color: #333;
    font-family: "Libre Franklin";
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.especialidades2 h5{
    margin-left: 832px;
    color: #000;
    font-family: "Libre Franklin";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.especialidades2 button{
    margin-left: 832px;
    width: 170px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2A9D8F;
    color: white;
    font-size: 20px;
    border-style: none;
}

.especialidades2-img{
    margin-bottom: 91px;
    margin-top: -680px;
    margin-left: 212px;
}

/*MENU*/

.menu{
    margin-left: 30px;
    width: 100%;
    position: relative;
}

.menu2{
    margin-top: 34px;
    margin-left: 664px;
}

.vegan{
    margin-left: 664px;
    margin-top: -50px;
}

.Desayuno2{
    margin-left: 209px;
}

.cafe{
    margin-bottom: 130px;
}

.cafe-img{
    margin-left: 137px;
    margin-top: 65px;
    width: 99px;
    height: 99px;
    flex-shrink: 0;
    border-radius: 100px;
    background: url(<path-to-image>), lightgray -11.59px -75.9px / 111.854% 179.397% no-repeat;
}

.cafe p{
    margin-left: 243px;
    margin-top: -70px;
}

.cafe h3{
    margin-left: 422px;
    margin-top: -45px;
}

.cafe h4{
    margin-left: 243px;
    margin-top: -20px;
}

.Almuerzo h2{
    margin-left: 627px;
    margin-top: -725px;
}

.Almuerzo .cafe{
    margin-left: 432px;
    margin-top: -5px;
}

.Merienda h2{
    margin-left: 1065px;
    margin-top: -715px;
}

.Merienda .cafe{
    margin-left: 870px ;
    margin-top: -5px;
}

/*TESTEMUNHOS*/

.Testimonio{
    margin-left: 60px;
    position: relative;
}

.test{
    margin-left: 667px;
    margin-top: 200px;
}

.Testimonio h3{
    margin-top: -20px;
    margin-left: 564px;
}

.testemunho p{
    position: relative;
    margin-top: 300px;
    margin-left: 222px;
}

.testemunho-img{
    margin-top: -525px;
    margin-left: 120px;
}

.testemunho h4{
    position: relative;
    margin-left: 653px;
    margin-top: 56px;
}

/*ESPECIALISTAS*/

.especialistas{
    width: 100%;
    margin-top: 144px;
}

.Expertos p{
    margin-left: 671px;
}

.Expertos h3{
    margin-top: -30px;
    margin-left: 572px;
}