div.container{
    margin: 0 auto;
    width: 1440px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p, li, a {
    color: #000;
    font-family: "Libre Franklin";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.titulo{
    color: #000;
    font-family:Rancho;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chamada p{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.chamada span{
    color: #2A9D8F;
    font-family: "Josefin Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ver-menu p{
    font-size: 30px;
    margin-top: 138px;
}

.especialidades h4{
    color: #E76F51;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.especialidades h1{
    color: #000;
    font-family: Rancho;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 50px;
}

.especialidades-info span{
    color: #E76F51;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.especialidades-info h2{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.especialidades-info h3{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.especialidades-info h5{
    color: #000;
    font-family: "Libre Franklin";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.especialidades-info button{
    color: #FFF;
    font-family: "Libre Franklin";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.especialidades2 span{
    color: #E76F51;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Menu*/

.menu2{
    color: #333;
    font-family: Rancho;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vegan{
    color: #E76F51;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Desayuno2{
    color: #333;
    font-family: "Josefin Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cafe p{
    color: #333;
    font-family: "Libre Franklin";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cafe h3{
    color: #333;
    font-family: "Libre Franklin";
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.cafe h4{
    color: #333;
    font-family: "Libre Franklin";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.Almuerzo h2{
    color: #333;
    font-family: "Josefin Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Merienda h2{
    color: #333;
    font-family: "Josefin Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*TESTEMUNHOS*/

.test{
    color: #E76F51;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Testimonio h3{
    color: #333;
    font-family: Rancho;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testemunho h4{
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testemunho p{
    color: #FFF;
    font-family: "Libre Franklin";
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/*ESPECIALISTAS*/

.Expertos p{
    color: #E76F51;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Expertos h3{
    color: #333;
    font-family: Rancho;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.especialistas-info h4{
    color: #333;
    font-family: "Libre Franklin";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.especialistas-info p{
    color: #333;
    font-family: "Libre Franklin";
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}


.especialistas-info3 h4{
    font-size: 19px;
}